{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid container-home">
    <div>
        <a href="{% url 'products' %}" class="start-shop-btn btn btn-lg text-uppercase"> Shop Now</a>
    </div>
</div>
<div class="container">
    <div class="row pt-5">
        <div class="col-12 col-4-lg">
            <h3 class="main-font section-title text-center">About our Products</h3>
            <br>
            <p>We offer a wide range of trusted brands and products for sports nutrition,
            including many specialty US products approved in the UK and Europe.</p>
            <br>
            <hr class="w-50">
        </div>
    </div>
</div>

{% endblock %}