@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;500;900&display=swap');


/*
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
#A3B5D9
#D7D7D9
#F2CB05
#BF9004
#0D0D0D

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Open Sans', sans-serif;
}


/*---Base.html*/

.logo-font,
.logo {
    font-size: 20px;
    text-align: center;
    color: #0D0D0D;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


.delivery-banner {
    background: #F2CB05;
}

.delivery-banner-txt {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
}


.bg-header {
    background: #D7D7D9;
    height: 75%;
}



