<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=accessory" class="dropdown-item">Accessory</a>
                <a href="{% url 'products' %}?category=sport_medicine" class="dropdown-item">Sport Medicine</a>
                <a href="{% url 'products' %}?category=sport_and_outdoor" class="dropdown-item">Sport and Outdoor</a>
                <a href="{% url 'products' %}?category=gift_ideas" class="dropdown-item">Gift Ideas</a>
                <a href="{% url 'products' %}?category=accessory,sport_medicine,sport_and_outdoor,gift_ideas" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personal Care 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=health_food" class="dropdown-item">health food</a>
                <a href="{% url 'products' %}?category=hair_and_beauty" class="dropdown-item">Health & Personal Care</a>
                <a href="{% url 'products' %}?category=health_food,hair_and_beauty" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchen & Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=humidifiers" class="dropdown-item">Humidifiers</a>
                <a href="{% url 'products' %}?category=essential_oil" class="dropdown-item">Essential Oil</a>
                <a href="{% url 'products' %}?category=tea_and_coffee" class="dropdown-item">Tea and Coffee</a>
                <a href="{% url 'products' %}?category=whole_grains" class="dropdown-item">Grains</a>
                <a href="{% url 'products' %}?category=humidifiers,essential_oil,tea_and_coffee,whole_grains" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>