<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins & Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=accessory" class="dropdown-item">Homeopathic & Flower Remedies</a>
                <a href="{% url 'products' %}?category=sport_medicine" class="dropdown-item">cbd oils and creams</a>
                <a href="{% url 'products' %}?category=sport_and_outdoor" class="dropdown-item">supplements for vegans</a>
                <a href="{% url 'products' %}?category=gift_ideas" class="dropdown-item">Minerals</a>
                <a href="{% url 'products' %}?category=accessory,sport_medicine,sport_and_outdoor,gift_ideas" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Food & Drink
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=health_food" class="dropdown-item">Rice and Pasta</a>
                <a href="{% url 'products' %}?category=hair_and_beauty" class="dropdown-item">Breakfast Cereals</a>
                <a href="{% url 'products' %}?category=hair_and_beauty" class="dropdown-item">Gluten Free Food & Drink</a>
                <a href="{% url 'products' %}?category=hair_and_beauty" class="dropdown-item">Superfoods & Green Powder</a>
                <a href="{% url 'products' %}?category=health_food,hair_and_beauty" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weight Management
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=humidifiers" class="dropdown-item">Weight Management Support</a>
                <a href="{% url 'products' %}?category=essential_oil" class="dropdown-item">Slimming Tablets</a>
                <a href="{% url 'products' %}?category=tea_and_coffee" class="dropdown-item">Fat Burners</a>
                <a href="{% url 'products' %}?category=whole_grains" class="dropdown-item">Lean Protein</a>
                <a href="{% url 'products' %}?category=humidifiers,essential_oil,tea_and_coffee,whole_grains" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>