<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="supplements-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vitamins & Supplements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="supplement-link">
                <a href="{% url 'products' %}?category=homeopathic" class="dropdown-item">Homeopathic & Flower Remedies</a>
                <a href="{% url 'products' %}?category=cbd_oils" class="dropdown-item">Cbd Oils and Creams</a>
                <a href="{% url 'products' %}?category=supplements_vegan" class="dropdown-item">Supplements for Vegans</a>
                <a href="{% url 'products' %}?category=minerals" class="dropdown-item">Minerals</a>
                <a href="{% url 'products' %}?category=homeopathic,cbd_oils,supplements_vegan,minerals" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="food-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Food & Drink
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="food-link">
                <a href="{% url 'products' %}?category=rice_pasta" class="dropdown-item">Rice and Pasta</a>
                <a href="{% url 'products' %}?category=breakfast" class="dropdown-item">Breakfast Cereals</a>
                <a href="{% url 'products' %}?category=gluten_free" class="dropdown-item">Gluten Free Food & Drink</a>
                <a href="{% url 'products' %}?category=superfood" class="dropdown-item">Superfoods</a>
                <a href="{% url 'products' %}?category=rice_pasta,breakfast,gluten_free,superfood" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="weight-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weight Management
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="weight-link">
                <a href="{% url 'products' %}?category=weight_management" class="dropdown-item">Weight Management</a>
                <a href="{% url 'products' %}?category=protein" class="dropdown-item">Lean Protein</a>
                <a href="{% url 'products' %}?category=weight_management,protein" 
                    class="dropdown-item">All Products</a>
            </div>
        </li>

    </ul>
</div>