{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="404 page on the Eshopper online">
<meta name="keywords"
    content="food, supplements, vitamin, protein, rice, lunch, superfood" href="">
<meta property="og:title" name="title" content="Eshopper" />
<meta property="og:description" content="404 page on the Eshopper" />
<meta property="og:url" content="https://e-shopperonline.herokuapp.com/" />
{% endblock %}


{% block extra_title %} 404 {% endblock %}

{% block content %}

<head>
    <!-- Enter your title of the page -->
    <title>404 - Page not found</title>
    <!--  Enter your website icon -->
    <link rel="icon" href="YOUR_WEBSITE_ICON_LINK">
    <!-- This one is very important, don't skip this part! -->
    <base href=""> <!-- Enter your website URL here -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		 Look like you're lost
		</h3>
		
		<p>the page you are looking for not avaible!</p>
        <br />
            The following problems could be the case:<br><br>
            • The link is broken<br />
            • This page never existed<br />
            • This page has been removed<br /><br />
		
		<a href="{% url 'home' %}" class="link_404">Go to Home</a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>

{% endblock %}



