{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}

     <!--Boostrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <!--Google Fonts-->
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,700;1,400&family=Poppins:wght@200&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!--FontAwesome-->
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>

        <!--Jquery-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <!--CDN-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Eshopper {% block extra_title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="media/favicon-16x16.png">
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="delivery-banner" class="row text-center delivery-banner">
               <div class="col">
                   <h3 class="delivery-banner-txt my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h3>                
               </div>            
           </div>
           <div class="row bg-header">
               <div class="col-12 col-lg-4 my-auto py-1 text-center text-lg-left">
                   <a href="{% url 'home' %}" class="logo-font logo text-uppercase pt-3">
                    Eshopper
                   </a>
               </div>
                {% include 'includes/mobile_top_header.html' %}
                {% include 'includes/main-nav.html' %}
               {% if request.user.is_authenticated %}
                   <div class="col-6 col-lg-4 my-auto text-right">
                       <a href="{% url 'view_bag' %}" class="main-font nav-itm">
                           Cart 
                           <span class="badge badge-dark badge-pill main-font nav-itm">
                               {% if product_count %}
                                   {{ product_count }}
                               {% else %}
                                   0
                               {% endif %}
                           </span>
                           <span>|</span>
                           <span class="my-0 main-font nav-itm">
                               {% if grand_total %}
                                   €{{ grand_total|floatformat:2 }}
                               {% else %}
                                   €0.00
                               {% endif %}
                           </span>
                       </a>
                   </div>
                   {% else %}
                   <div class="col-6 col-lg-4 my-auto text-right">
                       <a href="" class="main-font nav-itm">
                           Cart 
                           <span class="badge badge-dark badge-pill main-font nav-itm">
                                   0
                           </span>
                           <span>|</span>
                           <span class="my-0 main-font nav-itm">
                                   €0.00
                           </span>
                       </a>
                   </div>
               {% endif %}
           </div>
          
       </header>
       {% block page_header %}
       {% endblock %}
   
       {% block content %}
       {% endblock %}
   
   
       <div class="footer">
           <div class="social-media text-center">
               <ul class="list-inline pt-4">
                   <li class="list-inline-item">
                       <a class="social-links" target="_blank" href="https://www.facebook.com/">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                           <span class="sr-only">Facebook</span>
                       </a>
                   </li>
                   <li class="list-inline-item">
                       <a class="social-links" target="_blank" href="https://www.linkedin.com/">
                           <i class="fa fa-linkedin" aria-hidden="true"></i>
                           <span class="sr-only">LinkedIn</span>
                       </a>
                   </li>
                   <li class="list-inline-item">
                       <a class="social-links" target="_blank" href="https://www.instagram.com/">
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                           <span class="sr-only">Instagram</span>
                       </a>
                   </li>
                   <li class="list-item">
                       <a class="support-txt" href="mailto:eshopper991@gmail.com">
                           <span>eshopper991@gmail.com</span>
                       </a> 
                   </li>
               </ul>
           </div>
       </div>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    
  </body>
</html>